{% set current_tab = tab|default('content') %}
{% set current_nav = nav|default('') %}


{% macro nav(role, url, label, current) %}
    {% if is_granted(role) %}
        <li>
            <a{% if current %} class="current"{% endif %} href="{{ url }}">
                <span>{{ label|trans }}</span>
            </a>
        </li>
    {% endif %}
{% endmacro %}

<ul id="navigation">
    {% if is_granted('ROLE_ROGER_READ_CONTENT') %}
        <li{% if current_tab == 'content' %} class="current"{% endif %}>
            <a href="{{ url('roger_cms_page_list') }}">{% trans %}Content{% endtrans %}</a>
            <ul class="nav_sub">
                {{ _self.nav('ROLE_ROGER_READ_CONTENT', url('roger_cms_media_list'), 'Medias', current_nav == 'medias') }}
                {{ _self.nav('ROLE_ROGER_READ_CONTENT', url('roger_cms_page_list'), 'Pages', current_nav == 'pages') }}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ROGER_READ_DESIGN') %}
        <li{% if current_tab == 'design' %} class="current"{% endif %}>
            <a href="{{ url('roger_cms_layout_list') }}">{% trans %}Design{% endtrans %}</a>
            <ul class="nav_sub">
                {{ _self.nav('ROLE_ROGER_READ_DESIGN', url('roger_cms_layout_list'), 'Layouts', current_nav == 'layouts') }}
                {{ _self.nav('ROLE_ROGER_READ_DESIGN', url('roger_cms_snippet_list'), 'Snippets', current_nav == 'snippets') }}
            </ul>
        </li>
    {% endif %}
</ul>
