{% extends "TheodoThothCmsBundle::layout.html.twig" %}

{% set tab = 'content' %}
{% set nav = 'medias' %}

{% block page_title "Medias" %}

{% block content %}
<div id="actions">
    <ul>
        <li>
          <a class="new-media" href="{{ url('media_new') }}">
            <img alt="Plus" src="/bundles/theodothothcms/images/admin/plus.png" />{% trans %}New Media{% endtrans %}</a>
        </li>
    </ul>
</div>
<div class="outset">
    <table class="index" id="medias">
        <thead>
            <tr>
                <th class="media">{% trans %}Media{% endtrans %}</th>
                <th class="modify">{% trans %}Modify{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for media in medias %}
            <tr class="node level_1">
                <td class="media">
                    <img alt="" src="/bundles/theodothothcms/images/admin/thoth_media.png" />
                    <a href="{{ url('media_edit', { 'id': media.id }) }}">{{ media.name }}</a>
                </td>
                <td class="remove">
                    <a id="remove-media-{{ media.id }}" href="{{ url('media_remove', { 'id': media.id }) }}">{% trans %}Remove{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}