{% extends "TheodoThothCmsBundle::layout.html.twig" %}

{% set body_class = 'reversed' %}
{% set tab = 'content' %}
{% set nav = 'pages' %}

{% block javascripts_assets %}
<script src="{{ asset('bundles/theodothothcms/js/page.js') }}" type="text/javascript"></script>
{#<script type="text/javascript"> textarea_id = 'page_content' </script>
<script src="{{ asset('bundles/theodothothcms/js/edit_area/edit_area_full.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/theodothothcms/js/twig-highlight.js') }}" type="text/javascript"></script>#}
{% endblock %}

{% block page_title "Pages" %}

{% form_theme form 'TheodoThothCmsBundle:Form:form_custom_layout.html.twig' %}

{% block content %}
    {% if page.id is not null %}
    <h1>{% trans %}Edit Page{% endtrans %}</h1>
    <form id="new_page" action="{{ url('page_update', { 'id': page.id }) }}" method="post" {{ form_enctype(form) }}>
    {% elseif parent_page == 'homepage' %}
    <h1>{% trans %}New Homepage{% endtrans %}</h1>
    <form id="new_page" action="{{ url('page_new', { 'parent_id': 'homepage' }) }}" method="post" {{ form_enctype(form) }}>
    {% else %}
    <h1>{% trans %}New Page{% endtrans %}</h1>
    <form id="new_page" action="{{ url('page_new', { 'parent_id': parent_page.id }) }}" method="post" {{ form_enctype(form) }}>
    {% endif %}
        <div class="title">
            {{ form_row(form.name) }}
        </div>
        <div class="drawer">
            <div class="toggle_wrapper">
                <div id="extra-fields" class="drawer_contents {% if (hasErrors is defined) and hasErrors %}display{% else %}hide{% endif %}">
                    <table class="fieldset">
                        <tbody>
                            <tr>
                                <th class="label">
                                    {{ form_label(form.slug) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.slug) }}
                                    {{ form_errors(form.slug) }}
                                </td>
                            </tr>

                            <tr>
                                <th class="label">
                                    {{ form_label(form.breadcrumb) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.breadcrumb) }}
                                    {{ form_errors(form.breadcrumb) }}
                                </td>
                            </tr>

                            <tr>
                                <th class="label">
                                    {{ form_label(form.description) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.description) }}
                                    {{ form_errors(form.description) }}
                                </td>
                            </tr>

                            <tr>
                                <th class="label">
                                    {{ form_label(form.content_type) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.content_type) }}
                                    {{ form_errors(form.content_type) }}
                                </td>
                            </tr>
 
                            <tr>
                                <th class="label">
                                    {{ form_label(form.cacheable) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.cacheable) }}
                                    {{ form_errors(form.cacheable) }}
                                </td>
                            </tr>
 
                            <tr>
                                <th class="label">
                                    {{ form_label(form.public) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.public) }}
                                    {{ form_errors(form.public) }}
                                </td>
                            </tr>
 
                            <tr>
                                <th class="label">
                                    {{ form_label(form.lifetime) }}
                                </th>
                                <td class="field">
                                    {{ form_widget(form.lifetime) }}
                                    {{ form_errors(form.lifetime) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="drawer_handle">
                <a id="link-more-fields" class="toggle more extra-fields-link {% if (hasErrors is not defined) or not hasErrors %}display-ib{% else %}hide{% endif %}" href="#">
                  {% trans %}More{% endtrans %}
                </a>
                <a id="link-less-fields" class="toggle less extra-fields-link {% if (hasErrors is defined) and hasErrors %}display-ib{% else %}hide{% endif %}" href="#">
                  {% trans %}Less{% endtrans %}
                </a>
            </div>
        </div>
        <div id="tab_control">
            <div class="tabs" id="tabs">
                {# <div id="tab_toolbar">
                    <a class="popup" href="#add_part_popup" title="{% trans %}Add Part{% endtrans %}">
                        <img alt="{% trans %}Add Part{% endtrans %}" src="/images/admin/add_tab.png" />
                    </a>
                </div>
                <a href="#" class="tab"><span>sidebar</span><img src="/images/admin/tab_close.png" class="close" alt="{% trans %}Remove part{% endtrans %}" title="{% trans %}Remove part{% endtrans %}"></a> #}
                <a href="#" class="tab here">
                    <span>{% trans %}Body{% endtrans %}</span>
                    {# <img src="/bundles/theodothothcms/images/admin/tab_close.png" class="close" alt="{% trans %}Remove part{% endtrans %}" title="{% trans %}Remove part{% endtrans %}" /> #}
                </a>
            </div>
            <div class="pages" id="pages">
                <div class="page" id="page_body">
                    <div class="part" id="part_body">
                        <p>
                            {{ form_label(form.content) }}
                            {{ form_errors(form.content) }}
                          
                            <span class="reference_links">
                                <a href="http://www.twig-project.org/documentation" target="_blank">{% trans %}Twig documentation{% endtrans %}</a>
                            </span>
                        </p>
                        <div>
                            {{ form_widget(form.content) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="set">
            <p>
                {{ form_row(form.status) }}
            </p>
            {% if page.id is not null %}
                <div>
                    {{ form_label(form.published_at) }}
                    {{ form_widget(form.published_at) }}
                    {{ form_errors(form.published_at) }}
                </div>
            {% endif %}
        </div>
        {{ form_rest(form) }}
        <p class="buttons" style="clear: left;">
            <input accesskey="S" class="button" type="submit" value="{% trans %}Save Changes{% endtrans %}" name="save-and-list" />
            <input accesskey="s" class="button" type="submit" value="{% trans %}Save and Continue Editing{% endtrans %}" name="save-and-edit" />
            {% trans %}or{% endtrans %}
            <a href="{{ url('page_list') }}">{% trans %}Cancel{% endtrans %}</a>
        </p>
        {# <p class="updated_line">
          {% trans %}Last Updated by <strong>Administrator</strong> at 07:27 am on January 02, 2009{% endtrans %}
        </p> #}
    </form>
{% endblock %}
