{% set padding_left %}
    {% if level == 0 %}
        9px
    {% elseif level == 1 %}
        32px
    {% else %}
        {{ level * 27 }}px
    {% endif %}
{% endset %}

<tr id="page_{{ page.id }}" class="level_{{ level }} no_children node page">
    <td style="padding-left: {% spaceless %}{{ padding_left }}{% endspaceless %};" class="page">
        <span class="w1"><img alt="" class="icon" src="/bundles/theodothothcms/images/admin/page.png" />{{ page.name }}</span>
    </td>
</tr>

{% for child in page.children %}
    {% include "TheodoThothCmsBundle:Page:site-map-row.html.twig" with {'page': child, 'level': level + 1} %}
{% endfor %}
