{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block content %}
<h1>{{ title }}</h1>
<a class="list-snippet" href="{{ url('snippet_list') }}">Back to list</a>
<br />
{% if snippet is defined %} 
<form action="{{ url('snippet_update', { 'id': snippet.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
<form action="{{ url('snippet_new') }}" method="post" {{ form_enctype(form) }}>
{% endif %}
    {{ form_widget(form) }}
    <input type="submit" value="Save Changes" name="save-and-list" />
    <input type="submit" value="Save and Continue Editing" name="save-and-edit" />
    <a href="{{ url('snippet_list') }}">Cancel</a>
</form>
{% if snippet is defined %}
<a href="{{ url('snippet_remove', { 'id': snippet.id }) }}">Remove</a>
{% endif %}
<a class="list-snippet" href="{{ url('snippet_list') }}">Back to list</a>
{% endblock %}