{% extends "SadiantCmsBundle::layout.html.twig" %}

<h1>{{ title }}</h1>
<a href="{{ url('snippet_list') }}">Back to list</a>
<br />
Form:
{% if snippet is defined %} 
<form action="{{ url('snippet_update', { 'id': snippet.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
<form action="{{ url('snippet_new') }}" method="post" {{ form_enctype(form) }}>
{% endif %}
    {{ form_widget(form) }}
    
    <input type="submit" />
</form>
{% if snippet is defined %}
<a href="{{ url('snippet_delete', { 'id': snippet.id }) }}">Delete</a>
{% endif %}
<a href="{{ url('snippet_list') }}">Back to list</a>