{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block content %}
<h1>Snippets</h1>
<a href="{{ url('snippet_new') }}">Add</a>
<ul>
    {% for snippet in snippets %}
    <li>
        <a href="{{ url('snippet_edit', { 'id': snippet.id }) }}">{{ snippet.name }}</a>          <a href="{{ url('snippet_remove', { 'id': snippet.id }) }}">Remove</a>
    </li>
    {% endfor %}
</ul>
<a href="{{ url('snippet_new') }}">Add</a>
{% endblock %}