{% set padding_left %}
    {% if level == 0 %}
        9px
    {% elseif level == 1 %}
        32px
    {% else %}
        {{ level * 27 }}px
    {% endif %}
{% endset %}

<tr
  id="page_{{ page.id }}"
  class="
  node page level_{{ level }}
  {% if page.parent %} child_page_{{ page.parentId }}{% endif %}
  ">
    <td class="page" style="padding-left: {% spaceless %}{{ padding_left }}{% endspaceless %};">
        <span class="w1">
            {% if page.children|length > 0 and page.parent %}
                <a class="expandable" href="{{ url('page_expand', {'id' : page.id, 'level' : level + 1}) }}">
                    <img alt="toggle children" class="expander" src="{{ asset('bundles/theodorogercms/images/admin/expand.png') }}" />
                </a>
            {% endif %}
            <a id="edit-{{ page.slug }}" href="{{ url('page_edit', {'id' : page.id}) }}">
                <span class="content_type">{{ page.contentSubtype }}</span>
                <img alt="" class="icon" src="{{ asset('bundles/theodorogercms/images/admin/roger_page.png') }}" />
                <span class="title">{{ page.name }}</span>
            </a>
            <img src="{{ asset('bundles/theodorogercms/images/admin/spinner.gif') }}" class="ajax-loader hide busy" alt="" />
        </span>
    </td>
    <td class="status">
        {{ page.status|trans }}
    </td>
    <td class="add_child">
        <a id="new-{{ page.slug }}-child" href="{{ url('page_new', {'parentId' : page.id}) }}">
          {% trans %}Add Child{% endtrans %}
        </a>
    </td>
    <td class="remove">
        <a id="remove-{{ page.slug }}" href="{{ url('page_remove', {'id' : page.id}) }}">
          {% trans %}Remove{% endtrans %}
        </a>
    </td>
</tr>

{% if page.children|length > 0 and not page.parent %}
  {% for child in page.children %}
    {% include "TheodoRogerCmsBundle:Page:page-row.html.twig" with {'page': child, 'level': level + 1} %}
  {% endfor %}
{% endif %}
