{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block page_title "Pages" %}

{% block content %}
  <div>
    {% if page is defined %} 
    <h1>{% trans %}Edit page{% endtrans %}</h1>
    <form action="{{ url('page_update', { 'id': page.id }) }}" method="post" {{ form_enctype(form) }}>
    {% else %}
    <h1>{% trans %}New page{% endtrans %}</h1>
    <form action="{{ url('page_new', { 'id': parent_page.id }) }}" method="post" {{ form_enctype(form) }}>
    {% endif %}
    
      {{ form_widget(form) }}
       
      <input type="submit" />
    </form>
  </div>
{% endblock %}
