{% extends "TheodoThothCmsBundle::layout.html.twig" %}

{% set tab = 'settings' %}
{% set nav = 'users' %}

{% block page_title "Preferences" %}

{% block content %}
<div id="actions">
    <ul>
        <li>
            <a id="link-new-user" href="{{ url('user_new') }}">
                <img src="/bundles/theodothothcms/images/admin/plus.png" alt="Plus"> {% trans %}New User{% endtrans %}
            </a>
        </li>
    </ul>
</div>
<div class="outset">
    <table id="users" class="index">
        <thead>
            <tr>
                <th class="user">{% trans %}Name / Username{% endtrans %}</th>
                <th class="roles">{% trans %}Roles{% endtrans %}</th>
                <th class="modify">{% trans %}Modify{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr class="node level_1">
                    <td class="user">
                        <a href="{{ url('user_edit', { 'id' : user.id }) }}">
                          <img width="32" height="32" src="http://www.gravatar.com/avatar/{{user.gravatarEmailHash}}?s=32" class="avatar avatar_32x32" alt="">
                        </a>

                        <a href="{{ url('user_edit', { 'id' : user.id }) }}">{{ user.name }}</a>

                        <span class="login">
                          {{ user.username }}
                        </span>
                    </td>

                    <td class="roles">
                      {{ user.roles|join(', ')|trans }}
                    </td>

                    <td class="remove">
                        {% if user.isMainAdmin %}
                            <span class="disabled">{% trans %}Remove{% endtrans %}</span>
                        {% else %}
                            <a href="{{ url('user_remove', { 'id' : user.id }) }}">{% trans %}Remove{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
