{% extends 'form_div_layout.html.twig' %}

{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set class = class|default('textbox') %}
    {% set size = size|default('32') %}
    <input size="{{ size }}" class="{{ class }}" type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock field_widget %}

{% block text_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set class = class|default('textbox') %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock text_widget %}

{% block password_widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {% set size = size|default('15') %}
    {{ block('field_widget', { 'attr' : { 'class' : 'input-password' } }) }}
{% endspaceless %}
{% endblock password_widget %}

{% block textarea_widget %}
{% spaceless %}
    {% set class = class|default('textarea') %}
    {% set rows = rows|default('4') %}
    {% set cols = cols|default('53') %}
    <textarea class="{{ class }}" rows="{{ rows }}" cols="{{ cols }}" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="error-with-field">
            {% for error in errors %}
                <span class="error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<a href="#" class="closer">x</a></span>
            {% endfor %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_row %}
{% spaceless %}
    <p>
    {% if errors|length > 0 %}
        <span class="error-with-field">
    {% endif %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<a href="#" class="closer">x</a></span>
            {% endfor %}
        </span>
    {% endif %}
    </p>
{% endspaceless %}
{% endblock field_row %}

{# waiting for my request on github to be dealt with #}
{% block widget_choice_options %}
{% spaceless %}
    {% for label, choice in choices %}
        {% if choice is iterable %}
            <optgroup label="{{ label }}">
                {% for nestedChoice, nestedLabel in choice %}
                    <option value="{{ nestedChoice }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ nestedLabel|trans }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ label|trans }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_choice_options %}
