<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/sadiantcms/css/main.css') }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ url('page_list') }}">Pages</a> <a href="{{ url('layout_list') }}">Layouts</a> <a href="{{ url('snippet_list') }}">Snippets</a> 
        <div id="container">
          {% block content %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
